In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Configura√ß√µes est√©ticas
sns.set(style="whitegrid")
plt.rcParams["figure.figsize"] = (12, 6)

# Carregar CSV
df_mvp = pd.read_csv("mvp_stats.csv")

# Visualizar as primeiras linhas
df_mvp.head()

,SEASON_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLAYER_NAME
0,1975-76,LAL,29.0,82,82,3379,914,1728,0.529,0,...,272,1111,1383,413,119,338,0,292,2275,Kareem Abdul-Jabbar
1,1976-77,LAL,30.0,82,82,3016,888,1533,0.579,0,...,266,824,1090,319,101,261,0,262,2152,Kareem Abdul-Jabbar
2,1979-80,LAL,33.0,82,81,3143,835,1383,0.604,0,...,190,696,886,371,81,280,297,216,2034,Kareem Abdul-Jabbar
3,1977-78,POR,25.0,58,0,1929,460,882,0.522,0,...,118,648,766,291,60,146,206,145,1097,Bill Walton
4,1978-79,HOU,24.0,82,82,3390,716,1325,0.540,0,...,587,857,1444,147,79,119,326,223,2031,Moses Malone

In [2]:
# 1Ô∏è‚É£ Perfil do Jogador MVP

## 1.1 Idade m√©dia dos MVPs
## 1.2 Idade m√≠nima e m√°xima de um MVP
## 1.3 Idade do MVP por d√©cada

In [8]:
## 1.1 Idade m√©dia dos MVPs
idade_media = df_mvp["PLAYER_AGE"].mean()

# Jogadores mais pr√≥ximos da m√©dia
dif_media = abs(df_mvp["PLAYER_AGE"] - idade_media)
jogador_media = df_mvp.loc[dif_media == dif_media.min(), "PLAYER_NAME"].unique()

print(f"üîπ Idade m√©dia dos MVPs: {idade_media:.1f} anos ‚Äî Jogador(es) mais pr√≥ximo da m√©dia: {', '.join(jogador_media)}")

üîπ Idade m√©dia dos MVPs: 28.1 anos ‚Äî Jogador(es) mais pr√≥ximo da m√©dia: Moses Malone, Larry Bird, Michael Jordan, Shaquille O'Neal, Kevin Garnett, LeBron James, Stephen Curry, Russell Westbrook, James Harden

In [9]:
## 1.2 Idade m√≠nima e m√°xima de um MVP
idade_min = df_mvp["PLAYER_AGE"].min()
idade_max = df_mvp["PLAYER_AGE"].max()

# Jogador(es) com idade m√≠nima
jogador_min = df_mvp.loc[df_mvp["PLAYER_AGE"] == idade_min, "PLAYER_NAME"].unique()

# Jogador(es) com idade m√°xima
jogador_max = df_mvp.loc[df_mvp["PLAYER_AGE"] == idade_max, "PLAYER_NAME"].unique()

print(f"üîπ Idade m√≠nima: {idade_min} anos ‚Äî Jogador(es): {', '.join(jogador_min)}")
print(f"üîπ Idade m√°xima: {idade_max} anos ‚Äî Jogador(es): {', '.join(jogador_max)}")

üîπ Idade m√≠nima: 22.0 anos ‚Äî Jogador(es): Derrick Rose
üîπ Idade m√°xima: 35.0 anos ‚Äî Jogador(es): Michael Jordan, Karl Malone

In [10]:
## 1.3 Idade do MVP por d√©cada
# Criar coluna de d√©cada
df_mvp["DECADE"] = (df_mvp["SEASON_ID"].str[:4].astype(int) // 10 * 10).astype(str) + "s"

idade_por_decada = df_mvp.groupby("DECADE")["PLAYER_AGE"].mean().round(1)

print("üîπ Idade m√©dia dos MVPs por d√©cada:")
for decada, idade in idade_por_decada.items():
    print(f"  ‚Ä¢ {decada}: {idade} anos")

üîπ Idade m√©dia dos MVPs por d√©cada:
  ‚Ä¢ 1970s: 28.2 anos
  ‚Ä¢ 1980s: 27.8 anos
  ‚Ä¢ 1990s: 31.1 anos
  ‚Ä¢ 2000s: 27.7 anos
  ‚Ä¢ 2010s: 26.2 anos
  ‚Ä¢ 2020s: 27.4 anos